// Shadows

.add-light-shadow {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.add-medium-shadow {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

.add-font-light-shadow {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.add-font-medium-shadow {
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.7);
}

// Main 

.main {
    background-color: $black;
    min-height: 100vh;
}

// Fonts

* {
    font-family: $font-inter;
}

.text-center {
    text-align: center;
}